@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl-700.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl-500.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl-900.woff");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.go-top {
  position: fixed;
  z-index: 50;
  width: 60px;
  height: 60px;
  bottom: 110px;
  left: 59px;
  background-image: url("../images/go-top-vector.png");
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  font-family: "MuseoSansCyrl", sans-serif;
}

.header {
  max-width: 1920px;
  margin: 0 auto;
  height: 790px;
  padding: 30px 0 0 0;
  color: #fff;
  background-image: url("../images/01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__body {
  position: relative;
  z-index: 2;
  max-width: 1366px;
  margin: 0 auto;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__text {
  margin-top: 185px;
  max-width: 1332px;
}

.header__title h1 {
  font-size: 80px;
  line-height: 100px;
  font-weight: 900;
}

.header__subtitle {
  font-size: 40px;
  font-weight: 500;
  line-height: 70px;
}

.header__button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  width: 300px;
  height: 70px;
  background-color: #30a16d;
  border-radius: 35px;
  font-weight: 900;
  font-family: inherit;
}

.header__button span {
  text-transform: uppercase;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
}

.header__click {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 40px;
  height: 77px;
}

.header__click img {
  background-image: url("../images/wheel.png");
  background-repeat: no-repeat;
  background-position: 50% calc(50% - 15px / 2);
}

.header__click::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  top: 100%;
  right: 30%;
  background-color: #fff;
  border-radius: 100px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__click::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  top: 100%;
  left: 30%;
  background-color: #fff;
  border-radius: 100px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-block__text {
  margin-left: 20px;
  font-weight: 900;
  font-size: 30px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 65px;
}

.menu__list li:nth-child(n + 2) {
  margin-left: 62px;
}

.menu__list li {
  position: relative;
}

.menu__list li::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #30a16d;
  display: none;
}

.menu__list li:hover::after {
  display: block;
}

.menu__link {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.contact a {
  font-family: "Open Sans";
  font-size: 25px;
  font-weight: 900;
  color: #fff;
}

.main {
  max-width: 1920px;
  margin: 0 auto;
}

.service {
  position: relative;
  padding: 110px 0 110px 0;
}

.service__body {
  max-width: 1366px;
  margin: 0 auto;
}

.service__body::after {
  content: "";
  position: absolute;
  width: 1366px;
  height: 2px;
  top: 100%;
  background-color: rgba(45, 45, 45, 0.1);
}

.service__title {
  margin-bottom: 50px;
}

.service__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.service__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

.service__column:nth-child(6n + 4), .service__column:nth-child(6n + 5), .service__column:nth-child(6n + 6) {
  margin-top: 70px;
}

.title {
  font-size: 60px;
  text-align: center;
  font-weight: 900;
}

.item-service__icon {
  margin: 0 auto;
  width: 97px;
  height: 87px;
}

.item-service__title {
  margin-top: 12px;
  font-size: 30px;
  text-align: center;
  font-weight: 900;
}

.item-service__text {
  margin-top: 24px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #2d2d2d;
  text-align: center;
}

.advantages {
  margin: 100px 0;
}

.advantages__body {
  max-width: 1366px;
  margin: 0 auto;
}

.advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.advantages__button {
  margin: 80px auto 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 70px;
  background-color: #30a16d;
  border-radius: 35px;
  font-family: inherit;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages-block__title {
  font-size: 40px;
}

.advantages-block__text {
  margin-top: 40px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #2d2d2d;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-slider {
  width: 766px;
}

.advantages-slider__item {
  outline: none;
  list-style: none;
}

.advantages-slider-image {
  width: 600px;
  height: 410px;
}

.advantages-slider-image__item {
  outline: none;
  list-style: none;
}

.container {
  position: relative;
  height: 410px;
  padding-top: 40px;
}

.advantages__dots {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.advantages__dots .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.advantages__dots .slick-dots li {
  margin-right: 30px;
  list-style: none;
}

.advantages__dots .slick-dots li.slick-active button {
  border: 4px solid #30a16d;
  background-color: transparent;
}

.advantages__dots .slick-dots button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0;
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0.2);
}

.reviews {
  position: relative;
  padding: 114px 0 120px 0;
  background: #2d2d2d;
}

.reviews__body {
  max-width: 1366px;
  margin: 0 auto;
}

.reviews__title {
  color: #fff;
  text-align: center;
  font-size: 60px;
  line-height: 70px;
}

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 60px;
}

.reviews__img {
  width: 717px;
  height: 480px;
  margin-left: 2px;
}

.reviews__top {
  color: #30a16d;
  font-family: Arial;
  font-size: 200px;
}

.reviews__text {
  font-size: 25px;
  line-height: 35px;
  color: #2d2d2d;
  font-weight: 700;
}

.reviews__subtext {
  margin-top: 15px;
  font-size: 20px;
  line-height: 30px;
  color: #2d2d2d;
  font-weight: 700;
}

.reviews__adress {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  line-height: 40px;
  color: #2d2d2d;
  font-weight: 700;
}

.block {
  position: absolute;
  left: 646px;
  top: 50px;
  width: 717px;
  height: 480px;
  padding: 28px 0 0 70px;
  background-color: #fff;
}

.text {
  position: absolute;
  top: 136px;
}

.slick-list {
  overflow: hidden;
  height: 100%;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  width: 100%;
  height: 530px;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  outline: none;
  list-style: none;
}

.reviews__arrows .slick-arrow {
  position: absolute;
  top: 444px;
  width: 34px;
  height: 63px;
  font-size: 0;
  outline: none;
  border: 0;
  cursor: pointer;
}

.reviews__arrows .slick-arrow.slick-prev {
  left: 131px;
  background: url("../images/Vector-left.png") 0 0 no-repeat;
}

.reviews__arrows .slick-arrow.slick-next {
  right: 151px;
  background: url("../images/Vector-right.png") 0 0 no-repeat;
}

.reviews__dots {
  margin: 130px auto 0;
}

.reviews__dots .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__dots .slick-dots li {
  margin: 0 15px;
  list-style: none;
}

.reviews__dots .slick-dots li.slick-active button {
  border: 4px solid #30a16d;
  background-color: transparent;
}

.reviews__dots .slick-dots button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.4);
}

.request {
  position: relative;
  padding: 104px 0 50px 0;
}

.request__body {
  max-width: 1366px;
  margin: 0 auto;
}

.request__title {
  margin-bottom: 80px;
}

.form {
  width: 534px;
  margin: 0 auto;
}

.form-row {
  margin-bottom: 41px;
}

.form-hint {
  display: block;
  margin-bottom: 9px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.field {
  width: 534px;
  height: 70px;
  padding: 21px 35px 19px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #dddfe0;
  border-radius: 7px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.textarea {
  min-width: 534px;
  min-height: 70px;
  max-width: 534px;
  max-height: 210px;
  overflow: hidden;
  resize: none;
}

.checkbox-text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}

.checkbox-text::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 15px;
  height: 11px;
  background-image: url();
  background-repeat: no-repeat;
  background-position: center center;
}

.checkbox:checked ~ .checkbox-text::before {
  background-image: url("/images/checkbox.png");
}

.radio,
.checkbox {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.form__button {
  width: 100%;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  background: #30A16D;
  border-radius: 35px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 70px;
  outline: none;
}

.form__button:hover {
  cursor: pointer;
}

.happy {
  height: 720px;
  padding: 220px 0 201px 0;
  margin-bottom: 19px;
  background-image: url("../images/footer.png");
  background-position: center;
}

.happy__body {
  max-width: 1366px;
  margin: 0 auto;
}

.happy__title {
  font-weight: 900;
  font-size: 80px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
}

.happy__text {
  margin-top: 31px;
  font-weight: 500;
  font-size: 40px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
}

.happy__button {
  width: 360px;
  margin: 60px auto 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  background-color: #30a16d;
  border-radius: 35px;
  font-family: inherit;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer {
  padding: 120px 0 90px 0;
  background-color: #2d2d2d;
}

.footer a {
  color: #fff;
  display: block;
}

.footer__body {
  max-width: 1366px;
  margin: 0 auto;
}

.footer__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
}

.footer__top::after {
  content: "";
  position: absolute;
  width: 1366px;
  height: 2px;
  top: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__column {
  width: 33.333%;
}

.footer__column:nth-child(2) {
  padding-left: 100px;
}

.footer__column:nth-child(3) {
  padding-left: 60px;
}

.footer__tel {
  margin-left: 80px;
  font-size: 30px;
  line-height: 50px;
}

.footer__email {
  margin-left: 80px;
  margin-top: 10px;
  font-size: 25px;
  line-height: 50px;
}

.footer__title-column {
  margin-top: 20px;
  font-size: 25px;
  line-height: 30px;
}

.footer__title-menu {
  margin-top: 45px;
  font-weight: 400;
}

.footer__title-link {
  font-size: 16px;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.7);
}

.footer__menu {
  margin-top: 20px;
}

.footer__link {
  margin-bottom: 37px;
  font-size: 25px;
  line-height: 30px;
}

.block-tel {
  margin-top: 25px;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-block__text {
  margin-left: 20px;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
}

.footer {
  position: relative;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 53px;
}

.footer__copyrite {
  margin-left: 75px;
  font-size: 16px;
  line-height: 19px;
}

.footer__adress {
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item {
  position: relative;
  margin-right: 20px;
}

.ok::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 27px;
  left: 17px;
  top: calc(50% - 15px);
  background-image: url("../images/ok.png");
}

.vk::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 15px;
  left: 13px;
  top: calc(50% - 8px);
  background-image: url("../images/vk.png");
  background-repeat: no-repeat;
}

.facebook::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 25px;
  left: 18px;
  top: calc(50% - 15px);
  background-image: url("../images/facebook.png");
  background-repeat: no-repeat;
}
